---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom styles
#main-content a {
  color: #000; // Set your desired link color
  text-decoration: none; // Optional: Remove underline from links
  transition: color 0.3s; // Optional: Add a smooth transition effect
}

#main-content a:hover {
  color: #333; // Set your desired link color on hover
}
